<template name="export">
  <div id="export">
    <div class="row">
      <div class="col-md-4 treeCol">
        <div id="tree"></div>
      </div>
      <div class="col-md-8 contentCol">
        <div class="row">
          <div class="col-md-12">
            <button id="downloadCSV" class="btn btn-primary" disabled={{waitingForDownload}}>
              Download CSV
              {{#if waitingForDownload}}
                <i class="fa fa-spinner fa-spin"></i>
              {{else}}
                <i class="fa fa-download"></i>
              {{/if}}
            </button>
            <!-- <button id="createExportTable" class="btn btn-primary" disabled={{waitingForExportTable}}>
              Create Export Table
              {{#if waitingForExportTable}}
                <i class="fa fa-spinner fa-spin"></i>
              {{else}}
                <i class="fa fa-table"></i>
              {{/if}}
            </button> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <h3>Table columns</h3>
            <table id="table" class="table">
              {{#each columnHeaders}}
                <tr>
                  <th>{{title}}</th>
                </tr>
              {{/each}}
            </table>
            <!--
            <table id="table" class="table">
              <tr>
                {{#each columnHeaders}}
                  <th>{{title}}</th>
                {{/each}}
              </tr>
              {{#each rows}}
                <tr>
                  {{#each columns}}
                    <td>{{this}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            </table>
            -->
          </div>
          <!-- <div class="col-md-3">
            <h3>Export tables</h3>
            <table>
              {{#each exportTables}}
                <tr>
                  <td>{{name}}</td>
                  <td>
                    <button class="btn btn-danger removeExportTable" title="remove">
                      <i class="fa fa-lg fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
