<template name="patientVisits">
<div id="visits">
  <table class="table table-striped collapsed">
    <tbody>
      {{#each visits}}
        {{#with visit=this patient=../patient}}
          <tr>
            <td class="openVisit cursorPointer"><b>{{visit.title}}</b></td>
            <td>
              <p class={{visit.dateCSS}}>{{> xEditable visitDateEO}}</p>
            </td>
            <td>
            {{#each visit.validatedQuestionnaires}}
              {{#with questionnaire=. visit=../visit patient=../patient}}
              <div class="text-center showQuestionnaire {{questionnaireCSS}} cursorPointer">
                <i class="fa fa-lg fa-file-text-o"></i>
                <div>
                  {{questionnaire.title}}<br>
                  {{percentage questionnaire.numQuestions questionnaire.numAnswered}}
                </div>
              </div>
              {{/with}}
            {{/each}}
            </td>

            <td>
              {{#if visit.recordPhysicalData}}
                <i class="fa fa-lg fa-heartbeat {{physioRecordsCSS}}"></i>
              {{/if}}
            </td>

            <td class="openVisit cursorPointer"><i class="fa fa-2x fa-arrow-circle-right"></i></td>
          </tr>
        {{/with}}
      {{else}}
        This patient either isn't mapped to an study design or this design has no visits scheduled.
      {{/each}}
    </tbody>
  </table>
</div>
</template>
