<template name="patientVisit">
<div id="visit">
  {{#with visit}}
    <h2>{{title}}</h2>
    <div class="row">
      <div class="questionnaires col-xs-12 col-md-6">
        <h3>Questionnaires <i class="fa fa-file-text-o"></i></h3>
        <table class="table">
        {{#each validatedQuestionnaires}}
          {{#with questionnaire=this visit=.. patient=../../patient}}
            <tr>
              <td class="{{questionnaireCSS}}">{{questionnaire.title}}</td>
              <td class="{{questionnaireCSS}}">{{percentage questionnaire.numQuestions questionnaire.numAnswered}}</td>
              <!--
              <td class="cursorPointer showQuestionnaire"><i class="fa fa-lg fa-list"></i></td>
              -->
              {{#unless patient.isExcluded}}
              <td class="cursorPointer">
                <button class="btn btn-primary btn-sm answerQuestionnaire">
                  Fill in <i class="fa fa-lg fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-primary btn-sm showQuestionnaire">
                  Show <i class="fa fa-lg fa-file-text-o"></i>
                </button>

              </td>
              {{/unless}}
            </tr>
          {{/with}}
        {{else}}
          No questionnaires are scheduled for this visit.
        {{/each}}
        </table>
      </div>
    </div>
  {{/with}}
</div>
</template>
