<template name="patientVisits">
<div id="visits">
  <br>
  <table class="table table-striped collapsed">
    <tbody>
      {{#each visits}}
        {{#with visit=this patient=../patient}}
          <tr class="openVisit cursorPointer">
            <td><b>{{visit.title}}</b></td>
            <td>
            {{#each visit.validatedQuestionnaires}}
              {{#with questionnaire=. visit=../visit patient=../patient}}
              <div class="text-center answerQuestionnaire {{questionnaireCSS}}">
                <i class="fa fa-lg fa-file-text-o"></i>
                <div>
                  {{questionnaire.title}}<br>
                  {{percentage questionnaire.numQuestions questionnaire.numAnswered}}
                </div>
              </div>
              {{/with}}
            {{/each}}
            </td>

            <td>
              {{#if visit.recordPhysicalData}}
                <i class="fa fa-lg fa-heartbeat {{physioRecordsCSS}}"></i>
              {{/if}}
            </td>

            <td><i class="fa fa-2x fa-arrow-circle-right"></i></td>
          </tr>
        {{/with}}
      {{else}}
        This patient either isn't mapped to an study design or this design has no visits scheduled.
      {{/each}}
    </tbody>
  </table>
</div>
</template>
