<template name="studyOption">
  <option value={{_id}}>{{title}}</option>
</template>
<template name="designOption">
  <option value={{_id}}>{{title}} ({{study.title}})</option>
</template>
<template name="patientOption">
  <option value={{_id}}>{{id}} {{hrid}} ({{study.title}} - {{studyDesign.title}})</option>
</template>
<template name="visitOption">
  <option value={{_id}}>{{title}} ({{study.title}} - {{design.title}})</option>
</template>
<template name="questionnaireOption">
  <option value={{_id}}>{{title}}</option>
</template>

<template name="visitSelect">
  <select id="visitSelect" class="selectpicker show-tick" title="select visit">
    <option class="italic" value="deselect"><b>clear selection</b></option>
    {{#each visits}}
      {{> visitOption}}
    {{/each}}
  </select>
</template>

<template name="questionnaireSelect">
  <select id="questionnaireSelect" class="selectpicker show-tick" title="select questionnaire">
    <option class="italic" value="deselect"><b>clear selection</b></option>
    {{#each questionnaires}}
      {{> questionnaireOption}}
    {{/each}}
  </select>
</template>

<template name="patients">
<div class="patients">
  <div class="row">
    <div class="col-xs-12">
			<select id="studiesSelect" class="selectpicker" title="select studies" multiple>
        <option class="italic" value="deselect"><b>clear selection</b></option>
				{{#each studies}}
					{{> studyOption}}
				{{/each}}
			</select>

      <i class="fa fa-lg fa-chevron-right"></i>
			<select id="designsSelect" class="selectpicker" title="select designs" multiple>
        <option class="italic" value="deselect"><b>clear selection</b></option>
				{{#each designs}}
					{{> designOption}}
				{{/each}}
			</select>

      <i class="fa fa-lg fa-chevron-right"></i>
      <select id="patientSelect" class="selectpicker show-tick" title="select patient">
        <option class="italic" value="deselect"><b>clear selection</b></option>
				{{#each patients}}
					{{> patientOption}}
				{{/each}}
			</select>

      {{#if singlePatient}}
        <i class="fa fa-lg fa-chevron-right"></i>
        {{> visitSelect visits=visits}}
      {{/if}}

      <!-- hide questionnaires, because we display them fullscreen only for now and
        this list doesn't make much sense like this.
      {{#if singleVisit}}
        <i class="fa fa-lg fa-chevron-right"></i>
        {{> questionnaireSelect questionnaires=questionnaires}}
      {{/if}}
      -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{#unless singlePatient}}
        <br>
        <div id="patientsTable">
          {{> reactiveTable collection=patientsTableCursor settings=patientsRTS}}
          <!--
          <table>
            <th>
              <td></td>
            {{#each patients}}
            <tr>
              <td>{{id}}</td>
              <td>{{hrid}}</td>
            </tr>
            {{/each}}
          </table>
          -->
        </div>
      {{else}}
        {{#with selectedPatient}}
          {{> patient}}
        {{/with}}
      {{/unless}}
    </div>
  </div>
</div>
</template>


<template name="patients_old">
<div class="patients">
  <!--
  <div class="page-header-small">
    <h3>Patients
      <button id="createPatient" class="btn btn-img btn-hdr">
        <i class="fa fa-2x fa-plus-square-o"></i>
      </button>
    </h3>
  </div>
  -->
  <div class="row">
    <!--
    <div class="col-xs-12 col-md-2 col-md-push-10 text-right">
      <button id="createPatient" class="btn btn-default">
        Create new Patient <i class="fa fa-user-plus"></i>
      </button>
    </div>
    <div class="col-xs-12 col-md-10 col-md-pull-2">
    -->
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        {{#each openPatients}}
        <li role="presentation" class={{patientTabClasses}}>
          <a href="" class="selectPatient" data-id={{_id}}>
            {{id}}
            {{#if isSelectedPatient}}
            <i class="fa fa-times cursorPointer hoverOpaque closePatient"></i>
            {{/if}}
          </a>
        </li>
        {{/each}}
        <li role="presentation">
          <form id="openPatient">
            <input type="text" class="form-control" name="patientId" placeholder="enter patient ID">
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#with selectedPatient}}
        {{> patient}}
      {{/with}}
    </div>
  </div>
</div>
</template>
