<template name="patientVisit">
<div id="visit">
  {{#with visit}}
    <h3>
      {{title}} <!-- <small>{{_id}}</small> -->
    </h3>
    <div class="row">
      <div class="questionnaires col-xs-12 col-md-6">
        <h4>Questionnaires <i class="fa fa-file-text-o"></i></h4>
        <table class="table">
        {{#each questionnaires}}
          {{> answerQuestionnaireRow questionnaire=this visit=.. patient=../..}}
        {{else}}
          No questionnaires are scheduled for this visit.
        {{/each}}
        </table>
      </div>
      <div class="physiologicalData col-xs-12 col-md-6">
        <h4>Physiological data <i class="fa fa-heartbeat"></i></h4>
        {{#if recordPhysicalData}}
          {{#if showEmpaticaRecorder}}
            {{> empaticaRecorder sessionId=empaticaSessionId}}
          {{/if}}
          <h5>Records</h5>
          <table class="table">
          {{#each physioRecords}}
            <tr>
              <td>{{metadata.sensor}}</td>
              <td>{{fileSizeSani size}}</td>
              <td><a href="{{this.url}}" target="_blank"><i class="fa fa-download"></i></a></td>
            </tr>
          {{else}}
            no records found.
          {{/each}}
          </table>
          <div class="panel panel-default">
            <div class="panel-heading collapsed cursorPointer" data-toggle="collapse" data-target="#uploadPhysioRecords">
              <h3 class="panel-title panel-title-inline">
                <a class="accordion-toggle collapsed" >
                  upload records manually
                </a>
              </h3>
            </div>
            <div id="uploadPhysioRecords" class="panel-collapse collapse">
              <div class="panel-body">
                {{#autoForm doc=this schema=uploadFormSchema id="uploadPhysioRecordForm" type="normal" class="uploadPhysioRecordForm"}}
                  {{#each afFieldNames}}
                    {{> afQuickField name=this.name options=afOptionsFromSchema}}
                  {{/each}}
                  <button type="submit" class="btn btn-primary pull-right">Save</button>
                  <button type="reset" class="btn btn-danger">Reset</button>
                {{/autoForm}}
              </div>
            </div>
          </div>
        {{else}}
          Recording physical data is not scheduled for this visit.
        {{/if}}
      </div>
    </div>
  {{/with}}
</div>
</template>

<template name="answerQuestionnaireRow">
<tr class="answerQuestionnaire">
  <th>{{questionnaire.title}}</th>
  <td><i class="fa fa-lg fa-pencil-square-o"></i></td>
</tr>
</template>
