<template name="patient">
<div class="patient">
  <br>
  <div class="row profile">
    <div class="col-xs-12 col-md-2"><!-- col-md-push-9 text-right"> -->
      <div class="well">
        <table class="table">
          <tr>
            <th>
              <img src="{{identicon _id size=10 scale=10}}">
            </th>
            <td>
              <p><b>{{id}}</b></p>
              <p>{{hrid}}</p>
            </td>
          </tr>
          <tr>
            <th>Created at</th>
            <td>{{fullDate createdAt}}</td>
          </tr>
          <tr>
            <th>Study</th>
            <td>unknown</td>
          </tr>
          <tr>
            <th>Visits</th>
            <td>0</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-md-10"><!-- col-md-pull-3"> -->
      visits
    </div>
  </div>
</div>
</template>
