<template name="patient">
<div class="patient">
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-3 col-lg-2 profile"><!-- col-md-push-9 text-right"> -->
      <div class="well">
        <h4 class="id">{{id}}</h4>
        <h4 class="hrid">{{hrid}}</h4>
        <img src="{{identicon _id size=10 scale=15}}">
        <h5>Created at</h5>
        <p>{{fullDateTime createdAt}}</p>
        {{#if study.title}}
        <h5>Study</h5>
        <p>{{study.title}}</p>
        {{/if}}
        {{#if numVisits}}
        <h5>Designs</h5>
        <p>{{designs}}</p>
        <h5>Visits</h5>
        <p>{{numVisits}}</p>
        {{/if}}
        {{#if languages}}
          <h5>Languages</h5>
          <p>{{languages}}</p>
        {{/if}}
        {{#if isExcluded}}
          <h5 class="text-danger">Excluded</h5>
          <p class="text-danger">
            yes <i class="fa fa-lg fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="{{fullDateTime excludedAt}}: {{excludeReason}}"></i>
          </p>
        {{/if}}
        <h4>Edit</h4>
        {{#autoForm schema=editPatientSchema doc=formDoc id="editPatientForm" type="normal" autosave=false}}
          {{#each afFieldNames}}
            {{> afQuickField name=this.name options=afOptionsFromSchema}}
          {{/each}}
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-check"></i>
            </button>
            <button type="reset" class="btn btn-warning">
              <i class="fa fa-repeat"></i>
            </button>
            <button class="btn btn-danger delete">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        {{/autoForm}}
      </div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-10"><!-- col-md-pull-3"> -->
      <div id="studyPage">
        {{> Template.dynamic template=template data=templateData}}
      </div>
    </div>
  </div>
</div>
</template>
