<template name="patients">
<div class="patients">
  <!--
  <div class="page-header-small">
    <h3>Patients
      <button id="createPatient" class="btn btn-img btn-hdr">
        <i class="fa fa-2x fa-plus-square-o"></i>
      </button>
    </h3>
  </div>
  -->
  <div class="row">
    <div class="col-xs-12 col-md-2 col-md-push-10 text-right">
      <button id="createPatient" class="btn btn-default">
        Create new Patient <i class="fa fa-user-plus"></i>
      </button>
    </div>
    <div class="col-xs-12 col-md-10 col-md-pull-2">
      <ul class="nav nav-tabs">
        {{#each openPatients}}
        <li role="presentation" class={{patientTabClasses}}>
          <a href="" class="selectPatient" data-id={{_id}}>
            {{patientAbbrev _id}}
            {{#if isSelectedPatient}}
            <i class="fa fa-times cursorPointer hoverOpaque closePatient"></i>
            {{/if}}
          </a>
        </li>
        {{/each}}
        <li role="presentation">
          <form id="openPatient">
            <input type="text" class="form-control" name="patientId" placeholder="enter patient token">
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#with selectedPatient}}
        {{> patient}}
      {{/with}}
    </div>
  </div>
</div>
</template>
