<template name="editStudyDesigns">
<div class="editStudyDesigns">
  <div class="row">
    <div class="col-xs-12">
    <br>
    <button id="createStudyDesign" class="btn btn-default">
      Create new Design <i class="fa fa-plus"></i>
    </button>
    {{#each designs}}
    {{#with design=.}}
      <div class="row">
        <div class="col-xs-12">
          <h3>{{> xEditable titleEO}}</h3>
          <div class="row">
            <div class="col-xs-12">
              <table class="table studyDesignTable">
                <thead>
                  <tr>
                    <th></th>
                    {{#each questionnaires}}
                      <th>{{title}}</th>
                    {{/each}}
                    {{#if listRecordPhysicalData}}
                      <th>record physical data</th>
                    {{/if}}
                    <th scope="row">
                      {{#if hasRemainingQuestionnaires}}
                      <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="listQuestionnaireDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          add Questionnaire
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="listQuestionnaireDropdown">
                          {{#each remainingQuestionnaires}}
                            <li><a href="" class="listQuestionnaire" data-id={{_id}}>{{title}}</a></li>
                          {{/each}}
                          {{#unless listRecordPhysicalData}}
                            <li><a href="" class="listRecordPhysicalData">Record physical data</a></li>
                          {{/unless}}
                        </ul>
                      </div> 
                      {{/if}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each visits}}
                  {{#with visit=. design=../design}}
                    {{#if visit.daysBetween}}
                    <tr>
                      <td>{{visit.daysBetween}} d</td>
                    </tr>
                    {{/if}}
                    <tr>
                      <th>
                        {{visit.title}}<br>
                        <span class="text-muted">{{fullDate visit.date}}</span>
                      </th>

                      {{#each questionnaires}}
                        {{#with questionnaire=. visit=../visit design=../design}}
                          <td class="visitTd">
                            <div class="toggleQuestionnaireAtVisit" data-visit-id={{visit._id}} data-questionnaire-id={{questionnaire._id}}>
                              <i class="fa fa-lg {{questionnaireIconClass}}"></i>
                            </div>
                          </td>
                        {{/with}}
                      {{/each}}

                      {{#if listRecordPhysicalData}}
                        <td class="visitTd" >
                          <div class="toggleRecordPhysicalDataAtVisit" data-visit-id={{_id}}>
                            <i class="fa fa-lg {{physicalIconClass}}"></i>
                          </div>
                        </td>
                      {{/if}}
                    </tr>
                  {{/with}}
                  {{/each}}
                  <tr>
                    <td>
                      <form id="addVisit">
                        <!-- TODO: add instructions (i) -->
                        <input type="text" class="form-control" name="offset" placeholder="enter offset">
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
    {{/with}}
    {{/each}}
    </div>
  </div>
</div>
</template>

<template name="editVisitQuestionnaireTd">
</template>

<template name="editVisitPhysTd">
</template>
