<template name="editStudy">
<div class="questions">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{> xEditable titleEO}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs hidden-print">
        {{#each tabs}}
        <li role="presentation" class={{tabClasses}}>
          <a href="" class="switchTab" data-id={{../_id}}>
            {{title}}
          </a>
        </li>
        {{/each}}
      </ul>
      <div id="studyPage">
        {{> Template.dynamic template=template data=this}}
      </div>
    </div>
  </div>
</div>
</template>
