<template name="editStudy">
<div class="questions editStudy">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{> xEditable titleEO}}
        <div class="lock pull-right cursorPointer">
          {{#if isLocked}}
            <i class="fa fa-lg fa-lock unlockStudy"></i>
          {{else}}
            <i class="fa fa-lg fa-unlock lockStudy"></i>
          {{/if}}
        </div>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs hidden-print">
        {{#each tabs}}
        <li role="presentation" class={{tabClasses}}>
          <a href="" class="switchTab" data-id={{../_id}}>
            {{title}}
          </a>
        </li>
        {{/each}}
      </ul>
      <div id="studyPageOverlay"></div>
      <div id="studyPage">
        {{> Template.dynamic template=template data=this}}
      </div>
    </div>
  </div>
</div>
</template>
