<template name="editStudyDesigns">
<div class="editStudyDesigns">
  <div class="row">
    <div class="col-xs-12">
    <br>
    <button id="createStudyDesign" class="btn btn-default print-hidden">
      Create new Design <i class="fa fa-plus"></i>
    </button>
    {{#each designs}}
    {{#with design=.}}
      <div class="row">
        <div class="col-xs-12">
          <h3>{{> xEditable titleEO}}</h3>
          <div class="row">
            <div class="col-xs-12">
              <table class="table studyDesignTable">
                <thead>
                  <tr>
                    <th>title</th>
                    <th>day offset</th>
                    <th></th>
                    {{#each questionnaires}}
                      <th>{{title}}</th>
                    {{/each}}
                    {{#if listRecordPhysicalData}}
                      <th>record physical data</th>
                    {{/if}}
                    <th scope="row" class="print-hidden">
                      {{#if hasRemainingQuestionnaires}}
                      <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="listQuestionnaireDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          add Questionnaire
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="listQuestionnaireDropdown">
                          {{#each remainingQuestionnaires}}
                            <li><a href="" class="listQuestionnaire" data-id={{_id}}>{{title}}</a></li>
                          {{/each}}
                          {{#unless listRecordPhysicalData}}
                            <li><a href="" class="listRecordPhysicalData">Record physical data</a></li>
                          {{/unless}}
                        </ul>
                      </div> 
                      {{/if}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each visits}}
                  {{#with visit=. design=../design}}
                    <tr>
                      <th class="visitTd">
                        {{> xEditable visitTitleEO}}
                      </th>

                      <td class="visitTd">
                        {{> xEditable visitDayEO}}
                      </td>
                      
                      <td class="visitTd">
                        {{> editStudyDesignsTags}}	
                      </td>

                      {{#each questionnaires}}
                        {{#with questionnaire=. visit=../visit design=../design}}
                          <td class="visitTd">
                            <div class="toggleQuestionnaireAtVisit" data-visit-id={{visit._id}} data-questionnaire-id={{questionnaire._id}}>
                              <i class="fa fa-lg {{questionnaireIconClass}}"></i>
                            </div>
                          </td>
                        {{/with}}
                      {{/each}}

                      {{#if listRecordPhysicalData}}
                        <td class="visitTd" >
                          <div class="toggleRecordPhysicalDataAtVisit" data-visit-id={{_id}}>
                            <i class="fa fa-lg {{physicalIconClass}}"></i>
                          </div>
                        </td>
                      {{/if}}

                      <td class="visitTd text-right">
                        <div class="btn-group">
                          <button class="btn btn-primary moveUp" title="move up">
                            <i class="fa fa-arrow-up"></i>
                          </button>
                          <button class="btn btn-primary moveDown" title="move down">
                            <i class="fa fa-arrow-down"></i>
                          </button>
                          <button class="btn btn-danger remove" title="remove">
                            <i class="fa fa-lg fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  {{/with}}
                  {{/each}}
                </tbody>
              </table>
							<button id="addVisit" class="btn btn-default print-hidden">add visit <i class="fa fa-plus"></i></button>
              <br>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
    {{/each}}
    </div>
  </div>
</div>
</template>

<template name="editStudyDesignsTags">
	<input type="text" class="tags" data-visit-id={{visit._id}}>
</template>
