version: '3'
services:
  meteor:
    image: epiph:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    expose:
      - "3000"
    links:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017/epiph

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    expose:
      - "27017"
    volumes:
      - ./docker-data/mongo:/data/db
