<template name="empaticaRecorder">
  {{#if isUsedForAnotherSession}}
    empatica data is recorded for another visit. You need to end this session before you can record here.
  {{else}}
    {{#unless isAuthenticated}}
      {{#if isAuthenticating}}
        <i class="fa fa-spinner fa-spin"></i>
        Authenticating Empatica...
      {{else}}
      <span class="text-danger">
        {{authenticationError}}
      </span>
      <br>
      <br>
      <button id="authenticate" class="btn btn-default">
        Authenticate
      </button>
      {{/if}}
    {{else}}
      {{#unless isConnected}}
        {{#if isDiscovering}}
          <i class="fa fa-spinner fa-spin"></i>
          Discovering devices...
        {{else}}
          {{#if isConnecting}}
            <i class="fa fa-spinner fa-spin"></i>
            Connecting devices...
          {{else}}
            <button id="discoverDevices" class="btn btn-default">
              Discover devices <i class="fa fa-wifi"></i>
            </button>
          {{/if}}
        {{/if}}
        <h5>Devices</h5>
        {{#if discoveredDevices}}
          <table class="table devicesTable">
            {{#each discoveredDevices}}
              <tr>
                <td>{{this}}</td>
                <!-- <td><input type="checkbox"></input></td> -->
              </tr>
            {{/each}}
          </table>
          <br>
          <button id="connectDevices" class="btn btn-default">
            connect devices <i class="fa fa-wifi"></i>
          </button>
        {{else}}
          no devices found!
        {{/if}}
      {{else}}
        {{#unless isRecording}}
          <button id="startRecording" class="btn btn-warning">
            record physiological data <i class="fa fa-heartbeat"></i>
          </button>
          <br>
          <br>
          <button id="disconnectDevices" class="btn btn-default">
            disconnect devices 
          </button>
        {{else}}
          <button id="stopRecording" class="btn btn-warning">
            stop recording <i class="fa fa-heartbeat"></i>
          </button>
          <br>
          <br>
          <span class="text-success">
            Recording physiological data...
          </span>
        {{/unless}}
      {{/unless}}
    {{/unless}}
  {{/if}}
  <!--
  <br>
  <br>
  <button id="listRecords" class="btn btn-warning">
    list records
  </button>
  -->
</template>

