@import "bootstrap/custom.bootstrap.output.import.less";
@import "theme/flatly.import.less";

@import "x_editable.import.less";
@import "sweetalert.import.less";

@grid-float-breakpoint: 830px;

body {
  padding-top: 60px;
}
@media print {
  body {
    padding-top: 0px;
  }
}

td, th {
  line-height: 1.2;
  padding-bottom: 0.6em;
}
table.tight {
  td, th {
    padding-bottom: 0;
  }
}
table.collapsed {
  width: inherit;
}

.reactive-table {
  th {
    color: @text-color !important;
  }
  td.buttons {
    text-align: right;
  }
  .btn {
    width: 61px;
  }
  .btn-stack {
    padding: 5.5px 10px;
  }
}
.reactive-table-navigation .form-inline input {
  width: 60px;
}

.form-control {
  padding: 3px 5px;
}

.daterangepicker {
  color: black;
}


.page-header, .page-header-small {
  border-bottom: none;
}

.nav-tabs {
  li > form {
    padding-top: 6px;
    input:first-child {
      padding-bottom: 6px;
    }
  }
}

.errors {
  margin-top: 15px;
}

////////////////////////////////
// generic
.valid {
  color: @brand-success;
}
.invalid {
  color: @brand-warning;
  alpha: 0.5;
}
    

////////////////////////////////
// patients
.patients {
  margin-top: 10px;
  .fa-chevron-right {
    vertical-align: -29%;
  }
  #patientsTable {
    tr {
      cursor: pointer;
    }
  }
}

////////////////////////////////
// patient
.patient {
  .profile {
    .table {
      width: initial;
      //tr:first-child {
      //  font-weight: bold;
      //}
      th {
        font-weight: lighter;
      }
      td {
        padding-left: 15px;
        vertical-align: top;
      }
      img {
        vertical-align: top;
        margin-bottom: 15px;
      }
    }
  }
  #visits {
    table {
      .due {color: @brand-danger;}
      .future {font-style: italic;}
      .showQuestionnaire {
        display: inline-block;
        padding: 0px 15px;
        line-height: 1.5em;
      }
    }
  }
  #visit {
    .questionnaires {
      table {
        width: initial;
        font-size: 20px;
        td:not(:first-child) {
          padding-left: 15px;
        }
        td.buttons {
          min-width: 250px;
        }
      }
    }
  }
}

////////////////////////////////
// editQuestionnaire
.editQuestionnaire {
  margin-top: 10px;
  .markdownControls {
    display: none;
  }
  .question {
    cursor: pointer;
    padding: 10px 10px;
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
    .af-radio-group {
      margin-left: 7px;
      .radio-inline, .fix-indent {
        margin-right: 40px;
      }
    }
    &.selectedQuestion {
      border: 1px solid @brand-info;
      border-radius: 2px;
      //padding: 10px 5px;
    }
  }
  #questionEditor {
    margin-bottom: 20px;
    .panel > .list-group .list-group-item {
      padding: 5px 5px 0px 5px;
      border: 0;
    }
    .panel .autoform-add-item {
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }
  .buttons-container {
    height: 60px;
    padding-right: 15px;
  }
}

////////////////////////////////
// questions
.question {
  .control-label {
    font-weight: bold;
  }
  .question-table {
    td:not(:first-child) {
      text-align: center;
    }
    tr:nth-child(even) {
      background-color: #ecf0f1;
    }
    tr:nth-child(odd).missing-answer {
      background-color: rgba(231, 76, 60, 0.3) !important;
    }
    tr:nth-child(even).missing-answer {
      background-color: rgba(231, 76, 60, 0.45) !important;
    }
  }
  .question-table-polar {
    td:not(:first-child):not(:last-child) {
      text-align: center;
    }
    td:last-child {
      text-align: right;
    }
  }
  .questionAutoform {
    &.missing-answer {
      padding: 15px;
      background-color: rgba(231, 76, 60, 0.3) !important;
    }
  }
  .code {
    color: @brand-danger;
    margin-right: 15px;
    display: inline-block;
  }
}


////////////////////////////////
// editStudy
.editStudyPatients {
  table tr{
    cursor: pointer;
  }
}

.editStudyDesigns {
  @media print {
    font-size: 0.8em;
    .collapse {
      display: block !important;
      height: auto !important;
      visibility: visible !important;
    }
    .panel {
      page-break-after: always;
      page-break-inside: avoid;
    }
    .btn-group {
      display: none;
    }
  }

  .panel-group {
    margin-top: 1em;
    .panel {
      &:first-child {
        border-top: none;
      }
      &:nth-child(odd) {
        .panel-heading {
          background-color: @table-bg-accent !important;
        }
      }
      margin-top: 0px;
      border-radius: 0 !important;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      .panel-heading {
        height: 61px;
        padding: 14px 15px;
        background-color: transparent;
        .panel-title-inline {
          display: inline;
          font-size: 28px;
        }
        .btn-group {
          margin-top: -5px;
          .accordion-toggle {
            &:after {
              font-family: 'FontAwesome';
              content: "\f078";
              //font-size: 1.2em;
            }
            &.collapsed:after {
              content: "\f054";
            }
          }
        }
      }
      .panel-body {
        border: none;
      }
    }
  }
  .studyDesignTable {
    .visitTd {
      border-bottom: 1px solid #dddddd;
    }
  }
  .bootstrap-tagsinput {
    width: 400px;
    input {
      box-shadow: none;
    }
  }
//    th {
//      white-space: nowrap;
//      &:first-child {
//        width: 250px;
//      }
//      &:not(:first-child) {
//        text-align: center;
//      }
//      &:nth-of-type(even):not(:first-child):not(:last-child) {
//        border-bottom: 2px solid @brand-primary;
//      }
//      &:nth-of-type(odd):not(:first-child):not(:last-child) {
//        border-bottom: 2px dashed @brand-primary;
//      }
//      .text-muted {
//        font-weight: normal;
//      }
//    }
//    td {
//      &:not(:first-child) {
//        text-align: center;
//      }
//      &:last-child {
//        width: 200px;
//      }
//    }
//  }
}

////////////////////////////////
// questionnaireWizzard
.questionnaireWizzard {
  .modal-dialog, .modal-content {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .questionOverview {
    color: white;
    i { color: grey; }
    .active {
      .activeCircle { 
        color: @brand-warning; 
        font-size: 2.5em;
        top: -4px;
        left: -1.5px;
      }
    }
    .answered {
      i { color: @brand-success; }
    }
    .answeredPartly {
      i { color: @brand-info; }
    }
  }
  input[type=radio], input[type="checkbox"] {
    font-size: 30px;
  }
  .nav-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

////////////////////////////////
// export
#export {
  margin-top
  .treeCol {
    overflow-x: scroll;
  }
  .contentCol {
    margin-top: 10px;
    #table {
      th {
        white-space: nowrap;
        border-right: 1px solid black;
        padding: 0px 20px 0px 5px;
      }
      td {
        white-space: nowrap;
        padding: 0px 20px 0px 5px;
      }
    }
  }
}

////////////////////////////////
// segmentation
.row-fill {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.row-max-half {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


////////////////////////////////
// misc
#spinner {
  height: 300px;
}

.label {
  font-size: 85%;
  display: inline-block;
}
.label-warning {
  background-color: rgba(243, 156, 18, 0.3);
}

.smallSelect {
  width: auto;
  height: auto;
  padding: 2px 5px;
  display: inline-block;
  border: none;
  margin: 3px 0px;
}
.smallInput {
  //height: auto;
  padding: 2px 5px;
  display: inline-block;
  border: none;
  margin: 3px 0px;
}

.btn-img {
  padding: 0;
  border: none;
  background: none;
  &:hover, &:focus, &:active {
    color: inherit !important;
    box-shadow: none;
  }
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cursorPointer {
  cursor: pointer;
}

.page-header-small {
  &:extend(.page-header);
  margin: 0px;
}

.btn-hdr {
  margin-left: 15px;
  //vertical-align: bottom;
}

.btn-stack {
  padding: 5.5px 7px;
}

.hoverOpaque {
  opacity: 0.6;
  &:hover {
    opacity: 1.0;
  }
}
.hoverOpaqueExtreme {
  opacity: 0.4;
  &:hover {
    opacity: 1.0;
  }
}
.hoverOpaqueInvisible {
  opacity: 0.1;
  &:hover {
    opacity: 1.0;
  }
}

.brand-primary {
	color: @brand-primary;
}

.modal-content {
  background-color: white;
}

.italic {
  font-style: italic;
}
