<template name="editIndexRemoveTableButtons">
  <div class="btn-group">
    <button class="btn btn-primary edit" data-id={{_id}} title="edit">
      <i class="fa fa-lg fa-pencil"></i>
    </button>
    <button class="btn btn-warning moveDown" data-id={{_id}} title="move down">
      <i class="fa fa-lg fa-level-down"></i>
    </button>
    <button class="btn btn-warning moveUp" data-id={{_id}} title="move up">
      <i class="fa fa-lg fa-level-up"></i>
    </button>
    <button class="btn btn-danger remove" data-id={{_id}} title="remove">
      <i class="fa fa-lg fa-trash"></i>
    </button>
  </div>
</template>

