<template name="editQuestionnaireQuestion">
  <div class="question {{questionCSS}} row" data-index={{index}} data-id={{_id}}>
  {{#if eq type "description"}}
    <div class="col-xs-12">
      {{#markdown}}{{label}}{{/markdown}}
    </div>
  {{else}}
    <div class="col-xs-12">
      {{#if eq type "table"}}
        <b>{{label}}</b>
        {{#with question=this}}
          {{> questionTable}}
        {{/with}}
      {{else}}
        {{#if eq type "table_polar"}}
          <b>{{label}}</b>
          {{#with question=this}}
            {{> questionTablePolar}}
          {{/with}}
        {{else}}
        {{#autoForm doc=null schema=schema id="questionnaireForm" type="normal" class="questionnaireForm"}}
          {{#each afFieldNames}}
            {{> afQuickField name=this.name options=afOptionsFromSchema}}
          {{/each}}
        {{/autoForm}}
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>
{{#if break}}
<div class="row">
  <div class="col-xs-12">
    <div style="height: 2px; background-color: black; text-align: center; margin: 10px 0px;">
      <span style="background-color: white; position: relative; top: -0.8em; padding: 0px 5px;">
        PAGE BREAK
      </span>
    </div>
  </div>
</div>
{{/if}}
</template>

<template name="editQuestionnaire">
<div class="editQuestionnaire">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{title}}
        <small>{{id}}</small>
        <button id="editQuestionnaire" class="btn btn-img btn-hdr hoverOpaque">
          <i class="fa fa-lg fa-pencil"></i>
        </button>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      {{#unless hasQuestions}}
        This questionnaire contains no questions yet.
      {{else}}
      <div class="questionnaire">
        <div class="questions">
          {{#each questionSchemas}}
            {{> editQuestionnaireQuestion}}
          {{/each}}	
        </div>
      </div>
      {{/unless}}
      <button id="addQuestion" class="btn btn-primary">
        Add Question <i class="fa fa-plus"></i>
      </button>
      <button id="addText" class="btn btn-primary">
        Add Text <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="col-xs-12 col-md-6">
      <div id="questionEditor">
        <div class="panel panel-info">
          {{#with selectedQuestion}}
          <div class="panel-heading">Item #{{index}}</div>
          {{else}}
          <div class="panel-heading">Questionnaire</div>
          {{/with}}
          <div class="panel-body">
            {{#with selectedQuestion}}
            {{#autoForm doc=this collection="Questions" schema=questionFormSchema id="questionForm" type="update" class="questionForm" autosave=true}}
            {{#each afFieldNames}}
            {{> afQuickField name=this.name options=afOptionsFromSchema template="tight-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
            {{/each}}
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" id="removeQuestion" class="btn btn-danger pull-right">Delete</button>
            {{/autoForm}}
            {{else}}
            {{#autoForm doc=this collection="Questionnaires" schema=questionnaireSchema id="questionnaireEditForm" type="update" class="questionEditForm" autosave=false}}
            {{#each afFieldNames}}
            {{> afQuickField name=this.name options=afOptionsFromSchema}}
            {{/each}}
            <button type="submit" class="btn btn-primary">Save</button>
            {{/autoForm}}
            {{/with}}
          </div>
        </div>
        <br>
        <button id="addQuestion" class="btn btn-primary">
          Add Question <i class="fa fa-plus"></i>
        </button>
        <button id="addText" class="btn btn-primary">
          Add Text <i class="fa fa-plus"></i>
        </button>
        {{#if selectedQuestion}}
        <button id="copyQuestion" class="btn btn-primary">
          Copy Question <i class="fa fa-copy"></i>
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
</template>
