<template name="editQuestionnaire">
<div class="editQuestionnaire">
  <div class="row">
    <div class="col-xs-12">
      <h3>{{title}}
        <small>{{id}}</small>
        <button id="editQuestionnaire" class="btn btn-default btn-sm btn-hdr">
          Edit&nbsp;<i class="fa fa-lg fa-pencil"></i>
        </button>
        <button id="previewQuestionnaire" class="btn btn-default btn-sm btn-hdr">
          Preview&nbsp;<i class="fa fa-lg fa-eye"></i>
        </button>
        <button id="translateQuestionnaire" class="btn btn-default btn-sm btn-hdr">
          Translate&nbsp;<i class="fa fa-lg fa-language"></i>
        </button>
      </h3>
    </div>
  </div>
  <div class="row">
    {{#unless isFullscreen}}
    <div class="col-xs-12 col-md-6">
      {{#unless hasQuestions}}
        This questionnaire contains no questions yet.
      {{else}}
      <div class="questionnaire">
        <div class="questions">
          {{#each questionSchemas}}
            {{> editQuestionnaireQuestion}}
            {{#if question.break}}
            <div class="row">
              <div class="col-xs-12">
                <div style="height: 2px; background-color: black; text-align: center; margin: 10px 0px;">
                  <span style="background-color: white; position: relative; top: -0.8em; padding: 0px 5px;">
                    PAGE BREAK
                  </span>
                </div>
              </div>
            </div>
            {{/if}}
          {{/each}}	
        </div>
      </div>
      {{/unless}}
      <br>
      <button id="addQuestion" class="btn btn-primary">
        Add Question <i class="fa fa-plus"></i>
      </button>
      <button id="addText" class="btn btn-primary">
        Add Text <i class="fa fa-plus"></i>
      </button>
      {{#if selectedQuestion}}
      <button id="copyQuestion" class="btn btn-primary">
        Copy selected Question <i class="fa fa-copy"></i>
      </button>
      {{/if}}
    </div>
    {{/unless}}
    <div class={{questionEditorColClass}}>
      <div id="questionEditor">
        <div class="panel panel-info">
          {{#with selectedQuestion}}
          <div class="panel-heading">
            <button class="btn btn-default btn-sm" id="toggleFullscreen">
              <i class="fa {{fullscreenToggleFAClass}}"></i>
            </button>
            Item #{{index}}
          </div>
          {{else}}
          <div class="panel-heading">Questionnaire</div>
          {{/with}}
          <div class="panel-body">
            {{#with selectedQuestion}}
            {{#autoForm doc=this schema=questionFormSchema id="questionForm" type="method-update" meteormethod="updateQuestion" class="questionForm"}}
            <div class="buttons-container">
              <div class="buttons pull-right">
                <button type="button" id="moveQuestionUp" class="btn btn-primary"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                <button type="button" id="moveQuestionDown" class="btn btn-primary"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>&nbsp;
                <button type="button" id="removeQuestion" class="btn btn-danger">Delete</button>
                <button type="reset" class="btn btn-warning">Reset</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
            {{#each afFieldNames}}
            {{> afQuickField name=this.name options=afOptionsFromSchema template="tight-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}
            {{/each}}
            <div class="buttons pull-right">
              <button type="button" id="removeQuestion" class="btn btn-danger">Delete</button>
              <button type="reset" class="btn btn-warning">Reset</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{/autoForm}}
            {{else}}
            {{#autoForm doc=this schema=questionnaireSchema id="questionnaireEditForm" type="normal" class="questionEditForm" autosave=false}}
            {{#each afFieldNames}}
            {{> afQuickField name=this.name options=afOptionsFromSchema}}
            {{/each}}
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            {{/autoForm}}
            {{/with}}
          </div>
        </div>
        <br>
        <button id="addQuestion" class="btn btn-primary">
          Add Question <i class="fa fa-plus"></i>
        </button>
        <button id="addText" class="btn btn-primary">
          Add Text <i class="fa fa-plus"></i>
        </button>
        {{#if selectedQuestion}}
        <button id="copyQuestion" class="btn btn-primary">
          Copy Question <i class="fa fa-copy"></i>
        </button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
</template>
