<template name="questionnaires">
<div class="questionnaires">
  <div class="row">
    <div class="col-xs-12">
      <h2>Questionnaires</h2>
      <button id="createQuestionnaire" class="btn btn-primary pull-left">
        Add Questionnaire <i class="fa fa-plus"></i>
      </button>
      {{> reactiveTable collection=questionnaires settings=questionnairesRTS}}
    </div>
  </div>
</div>
</template>

<template name="questionnairesTableButtons">
  <div class="btn-group">
    <button class="btn btn-primary copy" data-id={{_id}} title="copy">
      <i class="fa fa-lg fa-copy"></i>
    </button>
    <button class="btn btn-primary edit" data-id={{_id}} title="edit">
      <i class="fa fa-lg fa-pencil"></i>
    </button>
    <button class="btn btn-danger remove" data-id={{_id}} title="remove">
      <i class="fa fa-lg fa-trash"></i>
    </button>
  </div>
</template>
