<template name="questionTablePolar">
<label class="control-label">
  {{question.label}}
</label>
<table class="table question-table question-table-polar">
  <thead>
    <tr>
      <td></td>
      {{#each question.choices}}
      <td>
        {{#if ../preview}}
          <p class="code">{{value}}</p>
        {{/if}}
      </td>
      {{/each}}
      <td></td>
    </tr>
  </thead>
  <tbody>
    {{#each question.subquestions}}
    <tr>
      <td>
        {{#if ../preview}}
          <p class="code">{{code}}</p>
        {{/if}}
        {{minLabel}}
      </td>
      {{#each ../question.choices}}
      <td>
        {{#with answer=../../answer question=../../question subquestion=.. choice=. readonly=../../readonly}}
        {{> questionTableInput}}
        <p>
        {{#markdown}}{{choice.label}}{{/markdown}}
        </p>
        {{/with}}
      </td>
      {{/each}}
      <td>
        {{maxLabel}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</template>
