<template name="questionTable">
<table class="table question-table">
  <thead>
    <tr>
      <td></td>
      {{#each question.choices}}
      <td>
        {{label}}
      </td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each question.subquestions}}
    <tr>
      <td>
        {{label}}
      </td>
      {{#each ../question.choices}}
      <td>
        {{#with answer=../../answer question=../../question subquestion=.. choice=. readonly=../../readonly}}
        {{> questionTableInput}}
        {{/with}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
</template>
