<template name="questionTable">
<label class="control-label">
  {{question.label}}
</label>
<table class="table question-table">
  <thead>
    <tr>
      <td></td>
      {{#each question.choices}}
      <td>
        {{#if ../preview}}
          <p class="code">{{value}}</p>
        {{/if}}
        {{label}}
      </td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each question.subquestions}}
    <tr>
      <td>
        {{#if ../preview}}
          <p class="code">{{../questionnaire.id}}_{{code}}</p>
        {{/if}}
        {{label}}
      </td>
      {{#each ../question.choices}}
      <td>
        {{#with answer=../../answer question=../../question subquestion=.. choice=. readonly=../../readonly}}
        {{> questionTableInput}}
        {{/with}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
</template>
