<template name="questionTablePolar">
<label class="control-label">
  {{#markdown}}{{question.label}}{{/markdown}}
</label>
<table class="table question-table question-table-polar">
  <thead>
    <tr>
      <td></td>
      {{#each question.choices}}
      <td>
      </td>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each question.subquestions}}
    <tr>
      <td>
        {{#markdown}}{{minLabel}}{{/markdown}}
      </td>
      {{#each ../question.choices}}
      <td>
        {{#with answer=../../answer question=../../question subquestion=.. choice=. readonly=../../readonly}}
        {{> questionTableInput}}
        <p>
        {{#markdown}}{{choice.label}}{{/markdown}}
        </p>
        {{/with}}
      </td>
      {{/each}}
      <td>
        {{#markdown}}{{maxLabel}}{{/markdown}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</template>
